<header>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo ChezToiChezMoi">
        </div>
        <ul class="nav-links">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Chambres</a></li>
            <li><a href="#">À Propos</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i> Connexion
                </a>
            </li>
        </ul>
    </nav>
</header>